{% set navigations = [ { 'name': 'Batik', 'icon': 'Cloth.svg', 'route':
'/admin/batik' }, { 'name': 'Toko Batik', 'icon': 'Store.svg', 'route':
'/admin/store' } ] %}
<nav
    class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700"
>
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
            <div class="flex items-center justify-start rtl:justify-end">
                <button
                    data-drawer-target="logo-sidebar"
                    data-drawer-toggle="logo-sidebar"
                    aria-controls="logo-sidebar"
                    type="button"
                    class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                >
                    <span class="sr-only">Open sidebar</span>
                    <svg
                        class="w-6 h-6"
                        aria-hidden="true"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            clip-rule="evenodd"
                            fill-rule="evenodd"
                            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
                        ></path>
                    </svg>
                </button>
                <a href="/admin/dashboard" class="flex ms-2 md:me-24">
                    <img
                        src="{{url_for('static',filename='images/Login.png')}}"
                        class="h-8 me-3"
                        alt="Desnet Logo"
                    />
                    <span
                        class="self-center text-xl font-medium sm:text-2xl whitespace-nowrap dark:text-white"
                        >Batik Pedia</span
                    >
                </a>
            </div>
            <div class="flex items-center">
                <div class="flex items-center ms-3">
                    <div>
                        <button
                            type="button"
                            class="flex text-sm rounded-full focus:ring-gray-300 dark:focus:ring-gray-600"
                            aria-expanded="false"
                            data-dropdown-toggle="dropdown-user"
                        >
                            <span class="sr-only">Open user menu</span>
                            {#<img
                                class="w-8 h-8 rounded-full"
                                src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
                                alt="user photo"
                            />
                            <p>{{ auth()->user()->name }}</p>
                            #}
                        </button>
                    </div>
                    <div
                        class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
                        id="dropdown-user"
                    >
                        <div class="px-4 py-3" role="none">
                            {#
                            <p
                                class="text-sm text-gray-900 dark:text-white"
                                role="none"
                            >
                                {{ auth()->user()->name }}
                            </p>
                            <p
                                class="text-sm font-medium text-gray-900 truncate dark:text-gray-300"
                                role="none"
                            >
                                {{ auth()->user()->email }}
                            </p>
                            #}
                        </div>
                        <ul class="py-1" role="none">
                            <li>
                                {#
                                <a
                                    data-modal-target="change-password-modal"
                                    data-modal-toggle="change-password-modal"
                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:cursor-pointer dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                                    role="menuitem"
                                    >Ganti Password</a
                                >
                                #}
                            </li>
                            <li>
                                {#
                                <a
                                    href=""
                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                                    role="menuitem"
                                    >Sign out</a
                                >
                                #}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<aside
    id="logo-sidebar"
    class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
    aria-label="Sidebar"
>
    <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
        <ul class="space-y-2 font-medium">
            {% for navigation in navigations %}
            <li>
                <a
                    href="{{ navigation.route }}"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
                >
                    <img
                        src="{{url_for('static',filename='images/' + navigation.icon)}}"
                        class="w-6 h-6 me-3"
                        alt="icon"
                    />
                    <span class="ms-3">{{ navigation.name }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</aside>
<div
    id="change-password-modal"
    data-modal-backdrop="static"
    tabindex="-1"
    aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        {# Modal content #}
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            {# Modal header #}
            <div
                class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
            >
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Ganti Password
                </h3>
                <button
                    type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-hide="change-password-modal"
                >
                    <svg
                        class="w-3 h-3"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 14 14"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                        />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            {# Modal body #}
        </div>
    </div>
</div>
